{% trans_default_domain 'KTUCountersBundle' %}

{% if counters|length > 0 %}
    <h4>{{ 'profile.show.counters'|trans }}</h4>
    <div class="line"></div>
    <table class="table">
        <tr>
            <th>#</th>
            <th>{{ 'global.page'|trans }}</th>
            <th style="width: 50px"></th>
            <th style="width: 50px"></th>
            <th style="width: 50px"></th>
            <th style="width: 50px"></th>
        </tr>
        {% for counter in counters %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="http://{{ counter.url }}" target="_blank">{{ counter.name }}</a></td>
                <td><a href="{{ path('ktu_counters_edit_counter', {'id': counter.id}) }}">
                        <span class="glyphicon glyphicon-edit tooltip-text" data-toggle="tooltip"
                                      data-placement="right" title="{{ 'profile.show.edit'|trans }}"></span></a></td>
                <td><a href="#"><span class="glyphicon glyphicon-file tooltip-text" data-toggle="modal"
                                      data-placement="right" data-target="#modal-code{{ loop.index }}"
                                      title="{{ 'profile.show.code'|trans }}"></span></a></td>
                <td><a href="{{ path('ktu_counters_show_counter', {'id': counter.id}) }}">
                        <span class="glyphicon glyphicon-stats tooltip-text" data-toggle="tooltip"
                              data-placement="right" title="{{ 'global.statistics'|trans }}"></span></a></td>
                <td><a href="#"><span class="glyphicon glyphicon-trash tooltip-text" data-toggle="modal"
                                      data-placement="right" data-target="#modal-delete{{ loop.index }}"
                                      title="{{ 'profile.show.delete'|trans }}"></span></a></td>
            </tr>
        {% endfor %}
    </table>

    {% for counter in counters %}
        <div class="modal fade" id="modal-code{{ loop.index }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'profile.show.code'|trans }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ 'global.counter.text_first'|trans }}
                        <pre class="code-section">{{ portable_image_url|format(counter.id, counter.id) }}</pre>
                        {{ 'global.counter.text_second'|trans }}<br/>
                        {{ portable_image_url|format(counter.id, counter.id)|raw }}<br/>
                        {{ 'global.counter.text_third'|trans }}<br/>
                        {{ 'global.counter.text_fourth'|trans }}
                        <a href="{{ path('ktu_counters_edit_counter_colors', {'id': counter.id}) }}">
                            {{ 'global.counter.modify'|trans }}</a> {{ 'global.counter.text_fifth'|trans }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            {{ 'profile.show.close'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-delete{{ loop.index }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{{ counter.name }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger modal-alert">
                            {{ 'profile.show.delete_question'|trans }}<br/>
                            {{ 'profile.show.delete_description'|trans }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('ktu_counters_delete_counter', {'id': counter.id}) }}"
                           class="btn btn-default">{{ 'profile.show.delete_confirm'|trans }}</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            {{ 'profile.show.delete_cancel'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for counter in counters %}
        {% if counter.statistics|length > 0 %}
            <h4>{{ counter.name }}</h4>
            <div class="line"></div>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>{{ 'global.unique'|trans }}</th>
                    <th>{{ 'global.hits'|trans }}</th>
                    <th>{{ 'global.date'|trans }}</th>
                </tr>
                {% for stats in counter.statistics %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ stats.uniq|number_format }}</td>
                        <td>{{ stats.total|number_format }}</td>
                        <td>{{ stats.date.date|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
{% else %}
    <div class="alert alert-warning">
        {{ 'profile.show.alerts.no_counters'|trans }}
        <a href="{{ path('ktu_counters_create_counter') }}">{{ 'profile.show.alerts.create'|trans }}</a>
    </div>
{% endif %}
