{% extends 'KTUCountersBundle::base.html.twig' %}
{% form_theme form 'KTUCountersBundle:Form:form.html.twig' %}

{% block title %}
    {{ parent() }} - Create counter
{% endblock %}

{% block heading %}
    <div class="panel-heading"><h3>Create counter</h3></div>
{% endblock %}

{% block body %}
    {% if not isCreated %}
        {{ form_start(form, {'attr': {'role': 'form', 'class': 'form-horizontal' }}) }}
        {% if not form.vars.valid %}
            <div class="alert alert-warning">
                {{ form_errors(form) }}
                {{ form_errors(form.cat) }}
                {{ form_errors(form.name) }}
                {{ form_errors(form.url) }}
                {{ form_errors(form.counterDesc) }}
            </div>
        {% endif %}
        {{ form(form) }}
        {{ form_end(form) }}
    {% else %}
        <div class="alert alert-success">
            Your counter has been successfully created.
        </div>
        In order to start tracking your website, you need to put your counter's image on your website.
        Here's a HTML code of your counter's image:
        <pre class="code-section">{{ portable_image_url|format(counter.id, counter.id) }}</pre>
        Your counter's image should look like:<br/>
        {{ portable_image_url|format(counter.id, counter.id)|raw }}<br/>
        After you place the image, we'll be able to track successfully your websites traffic.<br/>
        Also don't forget that you can
        <a href="{{ path('ktu_counters_edit_counter_colors', {'id': counter.id}) }}">modify</a> you counter's styling in your profile.
    {% endif %}
{% endblock %}