{% extends 'KTUCountersBundle::base.html.twig' %}
{% trans_default_domain 'KTUCountersBundle' %}
{% form_theme form 'KTUCountersBundle:Form:form.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'counter.create.title'|trans }}
{% endblock %}

{% block heading %}
    <div class="panel-heading"><h3>{{ 'counter.create.header'|trans }}</h3></div>
{% endblock %}

{% block body %}
    {% if not isCreated %}
        {{ form_start(form, {'attr': {'role': 'form', 'class': 'form-horizontal' }}) }}
        {% if not form.vars.valid %}
            <div class="alert alert-warning">
                {{ form_errors(form) }}
                {{ form_errors(form.cat) }}
                {{ form_errors(form.name) }}
                {{ form_errors(form.url) }}
                {{ form_errors(form.counterDesc) }}
            </div>
        {% endif %}
        {{ form(form) }}
        {{ form_end(form) }}
    {% else %}
        <div class="alert alert-success">
            {{ 'counter.create.alerts.created'|trans }}
        </div>
        {{ 'global.counter.text_first'|trans }}
        <pre class="code-section">{{ portable_image_url|format(counter.id, counter.id) }}</pre>
        {{ 'global.counter.text_second'|trans }}<br/>
        {{ portable_image_url|format(counter.id, counter.id)|raw }}<br/>
        {{ 'global.counter.text_third'|trans }}<br/>
        {{ 'global.counter.text_fourth'|trans }}
        <a href="{{ path('ktu_counters_edit_counter_colors', {'id': counter.id}) }}">
            {{ 'global.counter.modify'|trans }}</a> {{ 'global.counter.text_fifth'|trans }}
    {% endif %}
{% endblock %}