{% extends 'KTUCountersBundle::base.html.twig' %}
{% trans_default_domain 'KTUCountersBundle' %}

{% block title %}
    {{ parent() }} - {{ counter.name }}
{% endblock %}

{% block heading %}
    <div class="panel-heading"><h3>{{ counter.name }}</h3></div>
{% endblock %}

{% block body %}
    <div class="well">
        <ul class="stats counter-stat">
            <li><span class="desc">{{ 'counter.show.url'|trans }}</span>
                <span class="pull-right"><a href="http://{{ counter.url }}"
                                            target="_blank">{{ counter.name }}</a></span></li>
            <li><span class="desc">{{ 'counter.show.category'|trans }}</span> <span class="pull-right">
                    {{ category.category }}</span></li>
            <li><span class="desc">{{ 'counter.show.total_visitors'|trans }}</span>
                <span class="pull-right">{{ totals.uniq|number_format }}</span></li>
            <li><span class="desc">{{ 'counter.show.total_hits'|trans }}</span>
                <span class="pull-right">{{ totals.total|number_format }}</span></li>
            <li><span class="desc">{{ 'counter.show.description'|trans }}</span></li>
        </ul>
        <div class="line dark"></div>
        <span class="counter-stat">{{ counter.counterDesc }}</span>
    </div>
    <h4>{{ 'counter.show.stats.text'|trans }}</h4>
    {% if stats|length > 0 %}
        <div class="col-lg-6" id="chart"></div>
        <div class="col-lg-6" id="areaChart"></div>
    {% else %}
        <div class="line"></div>
        <div class="alert alert-warning">{{ 'counter.show.stats.alert'|trans }}</div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['{{ 'counter.show.stats.date'|trans }}', '{{ 'counter.show.stats.unique'|trans }}',
                    '{{ 'counter.show.stats.hits'|trans }}'],
                {% for stat in stats %}
                    ['{{ stat.date.date|date('Y-m-d') }}', {{ stat.uniq }}, {{ stat.total }}],
                {% endfor %}
            ]);

            var options = {
                width: 430,
                height: 400,
                legend: {
                    position: 'top',
                    maxLines: 1
                },
                bar: {
                    groupWidth: '80%'
                },
                chartArea: {
                    width: '60%'
                },
                isStacked: true
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart'));
            chart.draw(data, options);

            var options = {
                height: 400,
                legend: {
                    position: 'top',
                    maxLines: 1
                },
                bar: {
                    groupWidth: '80%'
                },
                chartArea: {
                    width: '80%'
                },
                hAxis: {
                    slantedTextAngle: 20
                },
                isStacked: true
            };

            var areaChart = new google.visualization.AreaChart(document.getElementById('areaChart'));
            areaChart.draw(data, options);
        }
    </script>
{% endblock %}